{% set snipcart_image = page.media.images|first %}

<div id="snipcart-detail" class="block-group">

    <div class="snipcart-info block">
        <div class="snipcart-thumb">
            {% if snipcart_image %}
                {{ snipcart_image.cropResize(400,400).html(page.header.title,'snipcart-thumb-image')|raw }}
            {% endif %}
            <span class="snipcart-price">
            ${{ page.header.snipcart.price }}
            </span>
        </div>
        <p>
            <a href="#"
                class="button snipcart-add-item"
                data-item-id="{{ page.header.snipcart.product_id }}"
                data-item-name="{{ page.header.title }}"
                data-item-price="{{ page.header.snipcart.price}}"
                data-item-url="{{ page.url }}"
                {% spaceless %}
                {% if page.header.snipcart.categories %}
                    data-item-categories="{{ page.header.snipcart.categories | join(', ') }}"
                {% endif %}
                {% if page.header.snipcart.description %}
                    data-item-description="{{ page.header.snipcart.description }}"
                {% endif %}

                {% if page.header.snipcart.dimensions.weight %}
                    data-item-weight="{{ page.header.snipcart.dimensions.weight }}"
                {% endif %}
                {% if page.header.snipcart.dimensions.width %}
                    data-item-width="{{ page.header.snipcart.dimensions.width }}"
                {% endif %}
                {% if page.header.snipcart.dimensions.length %}
                    data-item-length="{{ page.header.snipcart.dimensions.length }}"
                {% endif %}
                {% if page.header.snipcart.dimensions.height %}
                    data-item-height="{{ page.header.snipcart.dimensions.height }}"
                {% endif %}

                {% if page.header.snipcart.quantity.min_quantity %}
                    data-item-min-quantity="{{ page.header.snipcart.quantity.min_quantity }}"
                {% endif %}
                {% if page.header.snipcart.quantity.max_quantity %}
                    data-item-max-quantity="{{ page.header.snipcart.quantity.max_quantity }}"
                {% endif %}
                {% if page.header.snipcart.quantity.quantity_step %}
                    data-item-quantity-step="{{ page.header.snipcart.quantity.quantity_step }}"
                {% endif %}

                {% if page.header.snipcart.options.stackable %}
                    data-item-stackable="{{ page.header.snipcart.options.stackable }}"
                {% endif %}
                {% if page.header.snipcart.options.shipable %}
                    data-item-shipable="{{ page.header.snipcart.options.shipable }}"
                {% endif %}
                {% if page.header.snipcart.options.taxable %}
                    data-item-taxable="{{ page.header.snipcart.options.taxable }}"
                {% endif %}

                {% if snipcart_image %}
                    data-item-image="{{ snipcart_image.cropResize(50,50).url }}"
                {% endif %}
                {% endspaceless %}
            >
                <i class="fa fa-shopping-cart"></i> Add to Cart
            </a>
        </p>
    </div>
    <div class="snipcart-details block">
        <h1>{{ page.header.title }}</h1>

        <p>{{ page.content|raw }}</p>

    </div>
</div>
